body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

html, body  {
    height: 100%;
}

md-input-container .md-errors-spacer{
    min-height: 0px !important;
}

.md-no-style {
    min-height: 0px !important;
}

md-list-item .ng-hide {
    animation: fadeIn 0.5s
}

.leaflet-container{
    width: 100%;
    height:100%;
}

.full-dim {
    width: 100%;
    height:100%;
}

.half-dim {
    width: 50%;
    height:50%;
}

.map-container {
  display: block;
	top: 64px !important;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

leaf-element{
    width:100%;
}

.leaflet-pane {
    z-index: 0 !important;
}

.box {
    float: left;
    width: 200px;
    margin-left: 10px;
    border: 2px solid black;
}