<div class="full-dim" layout="column">
	<toolbar-element></toolbar-element>
	<leaf-element [x]=23.71 [y]=37.96 [zoom]=5 [minZoom]=1 [layerControl]=true [crs]='coordinateSystem' [layerControl]=true>
		<layer-element [name]="'geodata.gov.gr:d7f50467-e5ef-49ac-a7ce-15df3e2ed738'" [type]="'basemap'" [wmsLayer]="'http://geodata.gov.gr/geoserver/ows'"></layer-element>
		<marker-element [lat]=4202000 [lon]=475000 [mouseover]="'Acropolis'"></marker-element>
		<circle-element [lat]=37.96 [lon]=23.71 [mouseover]="'Acropolis latlon'"></circle-element>
		<coordinate-control [crs]='system'></coordinate-control>
	</leaf-element>
</div>