<leaf-element [zoom]=11 [layerControl]=true>
	<layer-element [slippyLayer]="'http://{s}.tile.osm.org/{z}/{x}/{y}.png'"></layer-element>
	<layer-element [wmsLayer]="'http://78.46.70.93:8080/geoserver/wms'" [name]="'cnt:post_codes'" [opacity]=0.3></layer-element>
	<leaflet-group>
		<circle-element [lat]=52.62 [lon]=-1.12 [radius]=180></circle-element>
		<circle-element [lat]=52.63 [lon]=-1.13 [radius]=180 [Options]="{color:'#576887', weight:6}"></circle-element>
	</leaflet-group>
	<polygon-element [latlngs]="[[52.65, -1.2],[52.645, -1.15], [52.696, -1.155], [52.697, -1.189]]"></polygon-element>
</leaf-element>