.outer {
    display: flex;
    height: 100%;
}

.inner {
    flex: 2;
}

mat-list {
    height: 100%
}

mat-list-item {
    height: 50%;
}

mat-card {
    width: 100%;
    height: 300px;
}

mat-list {
    padding-top: 160px;
}