body {
    padding: 0;
    margin: 0;
}

html, body  {
    height: 100%;
}

mat-input-container .mat-errors-spacer{
    min-height: 0px !important;
}

.mat-no-style {
    min-height: 0px !important;
}

mat-list-item .ng-hide {
    animation: fadeIn 0.5s
}

.leaflet-container{
    width: 100%;
    height:100%;
}

.full-dim {
    width: 100%;
    height:100%;
}

.half-dim {
    width: 50%;
    height:50%;
}

.full-dim .map-container {
    position: absolute;
	top: 64px !important;
}

.custombackground .leaflet-container {
    background: #000000;
}

leaf-element{
    width:100%;
}

.leaflet-pane {
    z-index: 0 !important;
}

.box {
    float: left;
    width: 200px;
    margin-left: 10px;
    border: 2px solid black;
}