<toolbar-element></toolbar-element>

<div class="outer">
  <div class="inner">
    <mat-list>
      <mat-list-item>
        <mat-card>
          <mat-card-header>
            <mat-card-title>Basic example</mat-card-title>
            <mat-card-subtitle>Basic Implementation</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <basic-map></basic-map>
          </mat-card-content>
          <mat-card-actions>
            <button (click)="fullscreen('basic')" mat-button>Full Screen</button>
          </mat-card-actions>
        </mat-card>
      </mat-list-item>

      <mat-list-item>
        <mat-card>
          <mat-card-header>
            <mat-card-title>cartesian coordinate system</mat-card-title>
            <mat-card-subtitle>Star Map using L.CRS.Simple</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <simple-element></simple-element>
          </mat-card-content>
          <mat-card-actions>
            <button (click)="fullscreen('simple')" mat-button>Full Screen</button>
          </mat-card-actions>
        </mat-card>
      </mat-list-item>

      <mat-list-item>
        <mat-card>
          <mat-card-header>
            <mat-card-title>Custom Projection</mat-card-title>
            <mat-card-subtitle>Custom Projection using EPSG:2100</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <custom-projection></custom-projection>
          </mat-card-content>
          <mat-card-actions>
            <button (click)="fullscreen('projection')" mat-button>Full Screen</button>
          </mat-card-actions>
        </mat-card>
      </mat-list-item>

      <mat-list-item>
        <mat-card>
          <mat-card-header>
            <mat-card-title>Travelling salesman</mat-card-title>
            <mat-card-subtitle>Basic implementation of a genetic like algorithm trying to solve the Travelling salesman problem </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <random-points></random-points>
          </mat-card-content>
          <mat-card-actions>
            <button (click)="fullscreen('random')" mat-button>Full Screen</button>
          </mat-card-actions>
        </mat-card>
      </mat-list-item>
    </mat-list>
  </div>
  <div class="inner">
    <mat-list>
      <mat-list-item>
        <mat-card>
          <mat-card-header>
            Template
          </mat-card-header>
          <mat-card-content>
            <pre>
                  <code>
                    {{getTemplate('bm')}}
                  </code>
            </pre> * missing value
          </mat-card-content>
        </mat-card>
      </mat-list-item>

      <mat-list-item>
        <mat-card>
          <mat-card-header>
            Template
          </mat-card-header>
          <mat-card-content>
            <pre>
                      <code>
                        {{getTemplate('ss')}}
                      </code>
                </pre> * missing value
          </mat-card-content>
        </mat-card>
      </mat-list-item>

      <mat-list-item>
        <mat-card>
          <mat-card-header>
            Template
          </mat-card-header>
          <mat-card-content>
            <pre>
                      <code>
                        {{getTemplate('cp')}}
                      </code>
                </pre> * missing value <br> $ coordinates in custom projection

          </mat-card-content>
        </mat-card>
      </mat-list-item>

      <mat-list-item>
        <mat-card>
          <mat-card-header>
            Template
          </mat-card-header>
          <mat-card-content>
            <pre>
                      <code>
                        {{getTemplate('rnd')}}
                      </code>
                </pre> * missing value
          </mat-card-content>
        </mat-card>
      </mat-list-item>
    </mat-list>
  </div>
</div>