.container {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.sidenav-content {
  margin-top: 172px;
  display: flex;
  height: 100%;
}

.outer {
  display: flex;
}

.inner {
  flex: 2;
}

mat-list {
  padding-top: 256px;
}

mat-list-item {
  height: 400px;
}

mat-card {
  width: 100%;
  height: 300px;
}

mat-card-content {
  height: 200px;
}

:host /deep/ .map-container {
  top: 80px !important;
  height: 220px;
}