<toolbar-element></toolbar-element>
<md-sidenav-container class="container">
  <md-sidenav #sidenav class="sidenav">
    Jolly good!
  </md-sidenav>

  <div class="sidenav-content">
    <md-list>
      <md-list-item>
        <md-card>
          <md-card-header>
            <md-card-title>Simple</md-card-title>
            <md-card-subtitle>Dog Breed</md-card-subtitle>
          </md-card-header>
          <md-card-content>
            <simple-element></simple-element>
          </md-card-content>
          <md-card-actions>
            <button md-button>Full Screen</button>
          </md-card-actions>
        </md-card>
      </md-list-item>
      <md-list-item>
        <md-card>
          <md-card-header>
            <md-card-title>Shiba Inu</md-card-title>
            <md-card-subtitle>Dog Breed</md-card-subtitle>
          </md-card-header>
          <md-card-content>
            <simple-element></simple-element>
          </md-card-content>
          <md-card-actions>
              <button md-button>Full Screen</button>
          </md-card-actions>
        </md-card>
      </md-list-item>
      <md-list-item>
        <md-card>
          <md-card-header>
            <md-card-title>Shiba Inu</md-card-title>
            <md-card-subtitle>Dog Breed</md-card-subtitle>
          </md-card-header>
          <md-card-content>
            <simple-element></simple-element>
          </md-card-content>
          <md-card-actions>
              <button md-button>Full Screen</button>
          </md-card-actions>
        </md-card>
      </md-list-item>
    </md-list>
  </div>

</md-sidenav-container>