:host {
    width: 100px;
    height: 100px;
}

@media (min-width: 1050px) {
    .header {
        margin-top: 64px;
        text-align: center;
        margin: 0 !important;
        font-size: 112px !important;
    }
    .info-card {
        height: 136px;
        margin-left: 16px;
        margin-right: 16px;
    }
}

@media (max-width: 1050px) {
    .header {
        margin-top: 64px;
        text-align: center;
        margin: 0 !important;
        font-size: 56px !important;
    }
    .info-card {
        height: 216px;
        margin-left: 16px;
        margin-right: 16px;
    }
}

@media (max-width: 530px) {
    .header {
        margin-top: 64px;
        text-align: center;
        margin: 0 !important;
        font-size: 28px !important;
    }
    .info-card {
        height: 256px;
        margin-left: 16px;
        margin-right: 16px;
    }
}

.subheader {
    text-align: center;
}

:host /deep/ .map-container {
    top: 8px !important;
    left: 8px !important;
    right: 8px !important;
    height: 220px;
}

.map-card {
    height: 192px;
    margin-left: 16px;
    margin-right: 16px;
}

.card-header {
    font-size: 48px;
}

md-grid-list {
    margin-top: 32px;
    height: 256px;
}

md-grid-tile {
    height: 256px;
}

button {
    text-align: center;
}

[class^="ribbon-"] {
    position: relative;
    margin-bottom: 80px;
}

[class^="ribbon-"]:before, [class^="ribbon-"]:after {
    content: "";
    position: absolute;
}

.ribbon-2 {
    width: 150px;
    height: 50px;
    background: #3f51b5;
}

.ribbon-2:after {
    height: 0;
    width: 0;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 15px solid #3f51b5;
    right: -15px;
    top: 0px;
}