<toolbar-element></toolbar-element>
<section class="mat-typography offset">
    <h1 class="mat-display-4 header">ngx.leaflet.components</h1>
    <h1 class="mat-display-1 subheader">a template based angular-leaflet library</h1>
</section>


<mat-card class="map-card">
    <leaf-element [zoom]=4>
        <layer-element [slippyLayer]="'http://{s}.tile.osm.org/{z}/{x}/{y}.png'"></layer-element>
    </leaf-element>
</mat-card>

<mat-grid-list cols="3" rowHeight="3:1">
    <mat-grid-tile>
        <mat-card class="info-card">
            <mat-card-header>
                <mat-card-title>
                    <mat-icon class="card-header">map</mat-icon>
                </mat-card-title>
                <mat-card-subtitle>Behind the scenes</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <section class="mat-typography">
                    Leaflet: An open-source JavaScript library for mobile-friendly interactive maps
                </section>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="info-card">
            <mat-card-header>
                <mat-card-title>
                    <mat-icon class="card-header">message</mat-icon>
                </mat-card-title>
                <mat-card-subtitle>Template Based</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <section class="mat-typography">
                    Your templates end up with a concise, readable and maintainable code that pretty much explains itself.
                </section>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="info-card">
            <mat-card-header>
                <mat-card-title>
                    <mat-icon class="card-header">developer_board</mat-icon>
                </mat-card-title>
                <mat-card-subtitle>Components</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <section class="mat-typography">
                Native Angular Components designed to be used directly on the templates without much customization
                </section>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>

<button [routerLink]="['/main']" color="primary" class="ribbon-2" mat-raised-button>Check Examples</button>