<div class="full-dim" layout="column">
	<toolbar-element></toolbar-element>
	<leaf-element [zoom]=11 [layerControl]=true [crs]='coordinateSystem'>
		<layer-element [name]="'openstreetmap'" [type]="'basemap'" [slippyLayer]="'http://{s}.tile.osm.org/{z}/{x}/{y}.png'"></layer-element>
		<layer-element [name]="'carto'" [type]="'basemap'" [slippyLayer]="'http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png'"></layer-element>
		<marker-element [lat]=4202000 [lon]=375000 [mouseover]="'Acropolis'"></marker-element>
	</leaf-element>
</div>