<div class="full-dim" layout="column">
	<toolbar-element></toolbar-element>
	<leaf-element [zoom]=11>
		<layer-element [slippyLayer]="'http://{s}.tile.osm.org/{z}/{x}/{y}.png'"></layer-element>
		<layer-element [wmsLayer]="'http://sedac.ciesin.columbia.edu/geoserver/wms'" [name]="'gpw-v3:gpw-v3-population-density_2000'"
			[opacity]=0.3></layer-element>
		<marker-element [lat]=52.6 [lon]=-1.1 [mouseover]="'marker A'"></marker-element>
		<marker-element [lat]=52.65 [lon]=-1.15 [mouseover]="'marker B'"></marker-element>
		<circle-element [lat]=52.62 [lon]=-1.12 [radius]=180></circle-element>
		<circle-element [lat]=52.63 [lon]=-1.13 [radius]=180 [Options]="{color:'#576887'}"></circle-element>
	</leaf-element>
</div>