<div class="full-dim" layout="column">
	<toolbar-element></toolbar-element>
	<leaf-element [x]=475000 [y]=4202000 [zoom]=8 [minZoom]=1 [layerControl]=true [crs]='coordinateSystem' [layerControl]=true>
		<layer-element [name]="'geodata.gov.gr:d7f50467-e5ef-49ac-a7ce-15df3e2ed738'" [type]="'basemap'" [wmsLayer]="'http://geodata.gov.gr/geoserver/ows'"></layer-element>
		<circle-element [x]=475000 [y]=4202000 [mouseover]="'Acropolis'"></circle-element>
		<circle-marker-element [x]=476000 [y]=4202000 [mouseover]="'circle-marker'"></circle-marker-element>
		<marker-element [x]=476000 [y]=4202100 [mouseover]="'marker'"></marker-element>
		<polygon-element [xys]="[[477000, 4202200], [477000, 4202300], [478000, 4202300], [478000, 4202200]]" [onclick]="'hello I am a polygon on a weird srs'"></polygon-element>
		<polyline-element [xys]="[[477100, 4202200], [477100, 4202400], [478100, 4202400]]" [onclick]="'hello I am a polyline on a weird srs'"></polyline-element>
		<coordinate-control [crs]='system'></coordinate-control>
		<leaflet-group [name]="'rest'">
			<geojson-element [geojson]='{
    "type": "FeatureCollection",
    "features": [
      {
        "type": "Feature",
        "properties": {},
        "geometry": {
          "type": "LineString",
          "coordinates": [
            [
              491000,
              4202000
            ],
            [
              491100,
              4202000
            ],
            [
              490900,
              4202000
            ],
            [
              491100,
              4202000
            ]
          ]
        }
      },
      {
        "type": "Feature",
        "properties": {},
        "geometry": {
          "type": "Polygon",
          "coordinates": [
            [
              [
                492000,
                4203000
              ],
              [
                493000,
                4203000
              ],
              [
                493000,
                4204000
              ],
              [
                492000,
                4204000
              ],
              [
                492000,
                4203000
              ]
            ]
          ]
        }
      },
      {
        "type": "Feature",
        "properties": {},
        "geometry": {
          "type": "Point",
          "coordinates": [
            494000,
            4204000
          ]
        }
      },
      {
        "type": "Feature",
        "properties": {},
        "geometry": {
          "type": "Point",
          "coordinates": [
            494400,
            4204400
          ]
        }
      }
    ]
  }'></geojson-element>
		</leaflet-group>
	</leaf-element>
</div>